@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  background-size: cover;
  background-attachment:fixed;
  background-image: linear-gradient(135deg, #5e0686 0%, #74a8c3 100%);
  /* background: #dfdfdf; */
  margin: 75px 5px;
  max-height: 100vh;
}

.container {
  max-width: 1000px;
  padding: 40px 15px 50px;
  margin: auto; 
  background: #FFF;
  border-radius: 0 0 15px 15px;
}

.banner{
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner > .text{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h3{
  font-size: 2em;
  color: #5e0686;
  margin: 0;
}



.strong {
    font-weight: 800;
    color:   #5e0686;
}

.text{
  font-size: 1.2rem;
}


button{
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.btns{
  float: right;
  width: 320;
  /* padding-top: 30px; */
}


/* .button{ */
/* } */
.rule_btn{
  padding: 6px;  
  width: 45%;
  background:  #5e0686;
  border-radius: 10px;

}
.rule_btn:hover{
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.32);
  transition: .2s;
}
.participate_btn{
  padding: 6px;  
  width: 45%;
  background:  #5e0686;
  border-radius: 10px;
}
.participate_btn:hover{
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.32);
  transition: .2s;
}

a{
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
}
a:hover{
  letter-spacing: 1.2px;
  transition: .2s;
}
 /* <div class="btns"> */
 /*        <button class="rule_btn" type="button"> <a href="#">Rules</a></button> */
 /*        <button class="participate_btn" type="button"> <a href="#">participate</a></button> */
 /*      </div> */
 /*  */
.holding {
  max-width: 1000px;
  height: fit-content;
  margin: auto; 
  border-radius: 15px;
}
img{
  width: 100%;
  border-radius: 15px 15px 0 0;
}
